.game {
    display: flex;
    border: 1px solid black;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    background: rgb(76, 251, 63);
    background: radial-gradient(circle, rgba(76, 251, 63, 1) 0%, rgba(166, 252, 70, 0.7822479333530288) 100%);
}

.game-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.game-btn {
    margin-top: 12px;
    padding: 8px;
    width: 70px;
    cursor: pointer;
    background-color: brown;
    font-weight: bold;
    font-size: 18px;
}

.game-div-text {
    font-weight: bold;
    font-size: 18px;
}